<form action="core_objects_update">
    <div>
        <span width="100%">
            <label for="name"></label><var id="name" required="true"></var>
        </span>

        <span width="100%">
            <label for="description"></label><var id="description" required="false"></var>
        </span>

        <span width="100%">
            <label for="native_land"></label><var id="native_land" required="false"></var>
        </span>

        <span width="100%">
            <label for="meals_ids"></label><var id="meals_ids" required="false"></var>
        </span>


<!--        <div>-->
<!--            <fieldset title="details">-->
<!--                <div>-->
<!--                    <section name="content">-->
<!--                        <var id="content"></var>-->
<!--                    </section>-->
<!--                </div>-->
<!--            </fieldset>-->
<!--        </div>-->
    </div>
</form>
